@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  padding: 0.35rem 0.5rem;
  height: 100%;
  background-color: #8a3c7f !important;

  color: #fff !important;
}
