:root {
  --swiper-theme-color: #000000;
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageContainer img {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background-color: #8a3c7f;
  border: 4px solid #000000;
  object-fit: cover;
  object-position: right top;
}

.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
h3 {
  font-size: 2.5rem;
}
span {
  font-size: 2.5rem;
  font-weight: 200;
}
p {
  font-weight: 200;
  font-size: 1.5rem;
  padding: 0 35rem;
}
h4 {
  font-size: 1.5rem;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
  display: none;
}
@media (max-width: 1650px) {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
  }
  .slider {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  .imageContainer img {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    background-color: #8a3c7f;
    border: 4px solid #000000;
    object-fit: cover;
    object-position: right top;
  }

  .slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  span {
    font-size: 2.5rem;
    font-weight: 200;
  }
  p {
    font-weight: 200;
    font-size: 1.5rem;
    padding: 0 15rem;
  }
  h4 {
    font-size: 1.5rem;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
    display: none;
  }
}
@media (max-width: 1000px) {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
  }
  .slider {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  .imageContainer img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: #8a3c7f;
    border: 4px solid #000000;
    object-fit: cover;
    object-position: right top;
  }

  .slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  h3 {
    font-size: 2.25rem;
    padding: 0 2rem;
  }
  span {
    font-size: 2rem;
    font-weight: 200;
    padding: 0 2rem;
  }
  p {
    font-weight: 200;
    font-size: 1.25rem;
    padding: 0 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
    display: none;
  }
}

@media (max-width: 500px) {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.5rem 0;
  }
  .slider {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  .imageContainer img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-color: #8a3c7f;
    border: 4px solid #000000;
    object-fit: cover;
    object-position: right top;
  }

  .slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  h3 {
    font-size: 2rem;
    padding: 0 2rem;
  }
  span {
    font-size: 1.5rem;
    font-weight: 200;
  }
  p {
    font-weight: 200;
    font-size: 1rem;
    padding: 0 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
